@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 4rem;
  font-weight: bolder;
}

h3 {
  font-size: 3rem;
  padding: 2rem 0rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 175%;
  color: rgb(30, 30, 30);
}

body {
  font-family: "Roboto", sans-serif;
}

/*navbar*/

.navbar {
  border-bottom: 2.5px solid #ffffff;
}

.navbar-nav {
  margin-left: 6vw;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}

/*navbar dropdown*/

li.dropdown {
  display: inline-block;
}

.conteudo-dropdown {
  display: none;
  position: absolute;
  background-color: rgb(99, 99, 99);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.conteudo-dropdown a {
  color: white;
  padding: 10px 12px;
  display: block;
  font-weight: 300;
}

.conteudo-dropdown a:hover {
  background-color: rgb(194, 194, 194);
}

.dropdown:hover .conteudo-dropdown {
  /*quando o o rato está por cima da class dropdown aparece o conteudo dropdown*/
  display: block;
  background-color: #0b082d;
  color: #0b082d;
}

.dropdown:hover .botao-dropdown {
  background-color: #957bda;
  color: white;
}

#navbarSupportedContent {
  text-align: center;
}

.form-control {
  max-width: 52rem;
}

@media screen and (min-width: 960px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.navbar .nav-item {
  padding: 0.5em;
}
@media screen and (max-width: 960px) {
  .navbar .navbar-nav {
    margin-top: 0.5em;
  }
}

/*logo*/

.navbar-brand img {
  margin: 0;
  padding: 0;
  width: 2.9rem;
}

/*progress bar*/

#progress-bar {
  position: fixed;
  top: 4.6rem;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  width: 0%;
  z-index: 100;
  transition: width 0.2s ease-out;
}

@media screen and (max-width: 1000px) {
  #progress-bar {
    top: 3.9rem;
  }
}

/*intro - slide*/

.carousel-item {
  height: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 600px;
}

.carousel-caption h5 {
  font-size: 5vw;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: white;
  text-shadow: 2px 2px 8px #0b082d;
}

.carousel-caption p {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 22px;
  color: rgb(214, 214, 214);
  padding: 3% 14% 7% 14%;
  text-shadow: 1px 1px 8px #0b082d;
}

@media screen and (max-width: 700px) {
  .carousel-caption h5 {
    font-size: 22px;
  }

  .carousel-caption p {
    font-size: 14px;
  }
}

/*cover*/
/*hero image*/
.hero-image {
  background-image: url("../imagens/imagem-cover.jpg");
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*hero text*/
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(214, 214, 214);
}

.hero-text h1 {
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-shadow: 2px 2px 8px #0b082d;
}

.hero-text p {
  font-weight: 500;
  font-size: 1.6rem;
  color: rgb(214, 214, 214);
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #0b082d;
}

@media screen and (max-width: 800px) {
  .hero-text {
    width: 80%;
  }
  .hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  .hero-text p {
    font-weight: 500;
    font-size: 1.4rem;
  }
}

/*intro-sobre*/

.intro {
  padding-top: 12rem;
  padding-bottom: 15rem;
}

.intro-text {
  justify-content: end;
}

.intro-text h2 {
  font-size: 3.4vw;
  font-weight: 800;
  padding-bottom: 1rem;
}

.intro-text p {
  font-size: 120%;
  font-weight: 600;
}

.intro img {
  width: 26vw;
}

@media screen and (max-width: 800px) {
  .intro-text {
    justify-content: center;
    margin-left: 3rem;
    width: 80% !important;
  }

  .intro-text h2 {
    font-size: 2.2rem;
    font-weight: 800;
  }

  .intro-text p {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .intro img {
    position: absolute;
    margin-left: 20vw;
    width: 20rem;
    height: auto;
    opacity: 0.2;
  }
}

/*body*/

.destaques {
  margin-bottom: 18rem;
}

@media screen and (max-width: 800px) {
  .destaques {
    margin-bottom: 10rem;
  }
}

.destaques-item {
  padding: 20px;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid #212529;
  transition: 0.3s;
}

.destaques-item:hover {
  background-color: #212529;
  border: 2px solid #957bda;
  color: #aa8aff;
  cursor: pointer;
  transform: scale(1.07);
  transition: 0.3s;
  filter: grayscale(0);
}

@media screen and (max-width: 700px) {
  .destaques-item {
    padding-bottom: 2rem;
    margin: 1rem;
  }
}

.destaques-item i {
  font-size: 36px;
}

.destaques-item h3 {
  font-size: 24px;
}

/*lista Estúdios*/

@media screen and (max-width: 800px) {
  .destaques {
    margin-bottom: 10rem;
  }
}

/*artigos*/

.artigos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 15rem;
}

.artigos article {
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.artigos article img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 0.2s;
  padding-bottom: 1rem;
}

.artigos article img:hover {
  width: 100%;
  transform: scale(0.1rem);
  transition: 0.2s;
  filter: grayscale(0);
}

.artigos article h5 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.artigos article p {
  margin-top: 0;
}

.artigos article:hover {
  border-radius: 1rem;
  border: 1px solid rgb(59, 47, 218);
  font-size: 16px;
  background-color: rgb(59, 47, 218);
  color: white;
}

/*sobre*/

.sobrenos-imagem {
  background-image: url("imagens/sobre.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*titulos*/

.conteudo {
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.conteudo h1 {
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  color: black;
  border-bottom: 2px solid rgb(42, 42, 42);
  text-align: center;
  margin-bottom: 50px;
  transition: 1s;
}

.conteudo h1:hover {
  margin-left: 25vw;
  margin-right: 25vw;
  transition: 0.5s;
  color: #957bda;
  border-bottom: 2px solid #957bda;
}

/*Forum*/

/*Tab*/
.section-tittle h3 {
  font-size: 24px;
}

.section-tittle h3 span {
  margin: 0.5rem;
  font-size: 38px;
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .section-tittle h3 span {
    margin: 0.5rem;
    font-size: 28px;
    font-weight: 700;
  }
}

/*nav*/

.nav-tabs .nav-link {
  border: 0;
  border-bottom: 2px solid transparent !important;
  margin: 0;
  padding: 10px 20px 10px 20px;
}

@media (max-width: 1199px) {
  .nav-link {
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 18px;
    padding: 10px 10px;
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  font-weight: 600;
  color: #957bda;
  background: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
  font-weight: 600;
  color: #957bda;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  font-weight: 400;
  color: #957bda;
  background: none;
}
.nav-tabs .nav-item {
  padding-bottom: 10px;
  display: block;
  color: #343434;
  text-transform: capitalize;
  font-size: 16px;
}
.nav-tabs {
  margin-bottom: 31px;
  padding-bottom: 0px;
  position: relative;
  border: 0;
  display: flex;
  justify-content: center;
  background: #d1d1d1;
}

.tab-pane {
  transition: 0.6s;
}

/*galeria*/

.galeria {
  margin-bottom: 8rem;
}

.galeria-item {
  margin-bottom: 20px;
}

.galeria-item h5 {
  margin-top: 9px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}

.galeria-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  filter: grayscale(0.6);
  transition: 0.3s;
}

.galeria-item img:hover {
  transform: scale(1.05);
  filter: grayscale(0);
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  .galeria-item h5 {
    font-weight: 600;
    margin-top: 16px;
    font-size: 20px;
  }
}
/*Tutorials*/

/*estudios*/

.estudios table {
  margin-bottom: 15rem;
}

.estudios th {
  margin-bottom: 1rem;
  color: #957bda;
}

/*vagas*/

.vagas {
  margin-bottom: 10rem;
}

.d-flex {
  text-decoration: none;
}

/*missão*/

.missao {
  padding-top: 8rem;
  padding-bottom: 14rem;
}

.missao-image img {
  width: 80%;
  transition: 0.5s;
  border-radius: 1rem;
  filter: grayscale(1);
}

.missao-image img:hover {
  transition: 0.5s;
  border-radius: 2rem;
  transform: scale(1.1);
  filter: grayscale(0);
}

.missao-text p {
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 800px) {
  .missao {
    width: 80% !important;
    padding-top: 6rem;
    padding-bottom: 14rem;
  }

  .missao-text p {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .missao-image img {
    bottom: 6rem;
    position: absolute;
    margin-left: 32vw;
    width: 15rem;
    height: auto;
    opacity: 0.25;
  }
}

/*contactos*/

.contactos {
  flex: auto;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.morada1 {
  margin-bottom: 15px;
}

.morada h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.morada p {
  font-size: 15px;
  margin: 0;
}

.formulario {
  margin-left: 1rem;
  margin-right: 1rem;
}

.formulario label {
  margin-bottom: 2px;
}

.formulario input {
  margin-bottom: 6px;
}

.formulario button {
  color: rgb(255, 255, 255);
  background-color: gray;
}

#mario {
  width: 4rem;
  height: 2.6rem;
  margin: 1.7rem;
}

.mapa-base {
  padding: 1rem;
}

.mapa {
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #957bda;
  border: 2px solid #957bda;
}

@media screen and (max-width: 1000px) {
  .contactos {
    flex: auto;
    flex-direction: column;
    width: 150%;
    padding-left: 30%;
    gap: 3rem;
  }

  .morada h4 {
    font-size: 20px;
    padding-bottom: 1rem;
  }

  .morada p {
    font-size: 17px;
  }

  .formulario label {
    font-size: 18px;
    font-weight: 600;
  }

  .mapa-base {
    position: relative;
    margin-left: 6rem;
    padding: 1rem;
    background-color: #957bda;
  }
  .mapa {
    padding-left: 0rem;
    padding-bottom: 0rem;
  }
}

/*footer*/

footer {
  background-color: #000000;
  font-size: 11.5px;
  color: rgb(189, 196, 203);
}

.caixa {
  padding: 5% 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  padding: 4px;
}

ul > li:hover {
  color: #957bda;
  cursor: pointer;
}

hr {
  border-width: 3px;
}

.social > i {
  padding: 1%;
  font-size: 15px;
}

.social > i:hover {
  color: #957bda;
  cursor: pointer;
}

.policy > div {
  padding: 4px;
}

.heading {
  color: rgb(255, 255, 255);
}

.divider {
  border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.cartao-text {
  color: white;
}

.copy p {
  color: grey;
}

/*-------------BACK OFFICE-------------*/

/*hero image footer*/

.footer-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 17vw;
  margin-bottom: 9rem;
}
.footer-image img {
  height: 11rem;
  position: absolute;
}

/*hero image*/
.hero-image-bo {
  background-image: url("/php/imagens/imagem-cover-bo.jpg");
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-fundo-soft {
  border-radius: 1rem;
  background-color: #ccc;
  transition: 0.3s;
}

.bg-fundo-soft:hover {
  color: white;
  background-color: #212529;
  border: 1px solid #957bda;
  transform: scale(1.05);
  transition: 0.3s;
}

.bo {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bo-intro h1 {
  padding-bottom: 1rem;
  font-weight: bold;
  color: #957bda;
}

.bo-text h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.bo-form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

#butao {
  border: none;
  background-color: #3a52ce;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 10px 1px #98989893;
}

#butao:hover {
  background-color: #ce3a84;
  color: white;
  text-shadow: 2px 2px 3px #600063;
  box-shadow: 2px 2px 10px 1px #a100dc93;
}
